In [1]:
input()

 234234

'234234'

input("请输入")

In [3]:
print('Hello "world"')

Hello "world"

In [5]:
print('''
Hello
     World
     ''')

Hello
     World

In [7]:
x = 123
print(f"x is {x}")

x is 123

In [8]:
"x" in "asdasdasd"

False

In [13]:
x = "what"
y = "what is it"
x in y

True

In [12]:
x = "what"
y = "what is it"
x not in y

False

In [18]:
x = "asdadsasdasd"
x[0:5:3]

'aa'

In [20]:
print(2 / 5)
print(2 // 5)
print(2 % 5)

0.4
0
2

In [21]:
print(abs(-1))

1

In [25]:
x = 1
x = str(1)
print(type(x))

<class 'str'>

In [27]:
"ABC" > "ABD"
# "ABC" > 123
123.0 > 123
"123.0" > "123"

True

In [29]:
num1 = input("Number 1:")
num2 = input("Number 2:")
operation = input("Operation:")
result = eval(f"{num1}{operation}{num2}")
print(f"Result is {result}")

Number 1: 2
Number 2: 5
Operation: *

Result is 10

In [43]:
a = [1, 2, 3, 'bb', ['aa']]
a.insert(6, 6)
print(a)
a.insert(5, 5)
print(a)
a.insert(4, 4)
print(a)
a.insert(6, 7)
print(a)
a.append([8, 9, 10])
print(a)
a.extend([11, 12, 13])
print(a)
a.insert(-1, 14)
print(a)

[1, 2, 3, 'bb', ['aa'], 6]
[1, 2, 3, 'bb', ['aa'], 5, 6]
[1, 2, 3, 'bb', 4, ['aa'], 5, 6]
[1, 2, 3, 'bb', 4, ['aa'], 7, 5, 6]
[1, 2, 3, 'bb', 4, ['aa'], 7, 5, 6, [8, 9, 10]]
[1, 2, 3, 'bb', 4, ['aa'], 7, 5, 6, [8, 9, 10], 11, 12, 13]
[1, 2, 3, 'bb', 4, ['aa'], 7, 5, 6, [8, 9, 10], 11, 12, 14, 13]

In [44]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

[1, 2, 3, 4, 5, 6]

In [48]:
a = (1, 2, 3)
a[4]

IndexError: tuple index out of range

In [51]:
color = ('r', 'g', 'b', 'r', 'g', 'b', 'b')
color = set(color)
color = tuple(color)
print(color)

('r', 'b', 'g')

In [58]:
dict1 = {1: "name", 2: "sex", 3: "age"}
# dict1.items()
# dict1.keys()
# dict1.values()

for k, v in dict1.items():
    print(str(k) + ":" + v)

dict1.setdefault(4)
print(dict1)

1:name
2:sex
3:age
{1: 'name', 2: 'sex', 3: 'age', 4: None}

In [72]:
dict1 = {'a': 1, 'b': 2}
# dict2 = {'b': 3, 'c': 4}

print(dict1.items())

# for k, i in enumerate(dict1):
#     print(k)
#     print(i)

# dict1 |= dict2
# print(dict1)
# print(dict2)

dict_items([('a', 1), ('b', 2)])

In [60]:
number = 10
while number >= 1:
    number -= 1
    if number > 5:
        continue
    print(number)

5
4
3
2
1
0

In [62]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [69]:
a = [ "rachel", "monica", "Phoebe", "joey" ]
a.sort()
b = [ i.upper() for i in a ]
# print(enumerate(b))
for i, item in enumerate(b):
    print(f"{i} is {item}")

0 is PHOEBE
1 is JOEY
2 is MONICA
3 is RACHEL

In [74]:
a = [10, 7, 19]

for i in a:
    if i < 100 && i % 7 == 0:
            print(i)

SyntaxError: invalid syntax (2394603.py, line 4)